In [52]:
import anndata
import numpy as np
from skimage.io import imsave

import scanpy as sc
import anndata as ad
import squidpy as sq

import pandas as pd

import tissuumaps.jupyter as tmap

INFO:root: * TissUUmaps version: 3.0.8.4

In [2]:
# load the pre-processed dataset
img = sq.datasets.visium_fluo_image_crop()
adata = sq.datasets.visium_fluo_adata_crop()

100%|████████████████████████████████████████| 303M/303M [00:05<00:00, 59.2MB/s]
100%|██████████████████████████████████████| 65.5M/65.5M [00:01<00:00, 52.5MB/s]

In [39]:
def write_image_container(file_name: str, image_container):
    imsave(
        file_name,
        np.squeeze(img.data.to_array())
    )

In [49]:
def write_anndata_to_tissuumaps(file_name: str, adata: anndata.AnnData):
    
    obs = adata.obs
    obs["umap_0"] = adata.obsm["X_umap"][:, 0]
    obs["umap_1"] = adata.obsm["X_umap"][:, 1]
    obs["x"] = adata.obsm["spatial"][:, 0]
    obs["y"] = adata.obsm["spatial"][:, 1]
    
    obs.to_csv(file_name)

In [51]:
# write image
image_path = "test.tif"
write_image_container(image_path, img)

# write points
csv_path = "test.csv"
write_anndata_to_tissuumaps("test.csv", adata)

In [56]:
tmap.loaddata(
    images=[image_path], 
    csvFiles=[csv_path], 
    xSelector="x", ySelector="y",
    colorSelector="leiden",
    scaleFactor=20, port=5101,
    plugins=["Feature_Space"]
)

Creating project file /Users/kyamauch/Documents/spatial-analysis-toolkit/examples/_project.tmap
Loading url:  http://localhost:5101/_project.tmap?path=Users/kyamauch/Documents/spatial-analysis-toolkit/examples

In [55]:
adata.obs

,in_tissue,array_row,array_col,n_genes_by_counts,log1p_n_genes_by_counts,total_counts,log1p_total_counts,pct_counts_in_top_50_genes,pct_counts_in_top_100_genes,pct_counts_in_top_200_genes,...,total_counts_MT,log1p_total_counts_MT,pct_counts_MT,n_counts,leiden,cluster,umap_0,umap_1,x,y
AAACGAGACGGTTGAT-1,1,35,79,3808,8.245122,9285.0,9.136263,23.155627,28.723748,36.241249,...,0.0,0.0,0.0,9285.0,3,Thalamus_1,11.779392,4.416771,6744,5901
AAAGGGATGTAGCAAG-1,1,24,62,5288,8.573384,16644.0,9.719865,19.718818,25.666907,33.699832,...,0.0,0.0,0.0,16644.0,2,Hippocampus,-0.759617,1.651864,4422,3264
AAATGGCATGTCTTGT-1,1,13,69,5191,8.554874,15977.0,9.678968,20.629655,26.757213,34.743694,...,0.0,0.0,0.0,15977.0,0,Cortex_1,-2.425285,9.630324,5393,641
AAATGGTCAATGTGCC-1,1,33,51,4923,8.501876,12454.0,9.429877,21.711900,26.818693,33.948932,...,0.0,0.0,0.0,12454.0,13,Lateral_ventricle,1.369643,4.902976,2903,5407
AAATTAACGGGTAGCT-1,1,34,58,4045,8.305484,11166.0,9.320718,27.261329,33.100484,40.847215,...,0.0,0.0,0.0,11166.0,2,Hippocampus,2.563761,2.177230,3863,5650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTGTCGTTCAGTTACC-1,1,22,58,3443,8.144389,8103.0,9.000113,22.695298,29.877823,38.837468,...,0.0,0.0,0.0,8103.0,4,Fiber_tracts,4.211261,6.143037,3875,2784
TTGTGGCCCTGACAGT-1,1,18,60,4971,8.511577,14779.0,9.601030,21.381690,27.924758,36.213546,...,0.0,0.0,0.0,14779.0,0,Cortex_1,-0.643128,7.938039,4153,1830
TTGTTAGCAAATTCGA-1,1,22,42,4820,8.480737,14396.0,9.574775,20.595999,26.674076,34.655460,...,0.0,0.0,0.0,14396.0,5,Cortex_3,-5.196085,12.540430,1678,2775
TTGTTCAGTGTGCTAC-1,1,24,64,3372,8.123558,8671.0,9.067855,28.578019,34.794141,42.647907,...,0.0,0.0,0.0,8671.0,2,Hippocampus,0.399694,1.503937,4696,3265
TTGTTGTGTGTCAAGA-1,1,31,77,3768,8.234565,9005.0,9.105646,20.755136,26.496391,34.169906,...,0.0,0.0,0.0,9005.0,3,Thalamus_1,12.497527,4.915408,6474,4944